<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  </head>
  
  <body>
  <a href="/admin/add" class="btn btn-success">Add</a>
  <form action="/admin/logout" method="POST"><button  class="btn btn-danger">LogOut</button></form>
    <div class="container mt-5">
        <div class="row gx-2">
            <% products.forEach( e => { %>
            <div class="card col-3" style="width: 16rem">
                <div class="card-img">
                    <img src="<%= e.img %>" style="width: 100%" alt="" />
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= e.name %></h5>
                    <p class="card-text"><%= e.description %></p>
                    <small class="card-text"><%= e.price %></small>
                    <div class="card-footer mt-2">
                        <a href="/admin/update/<%= e._id %>" class="btn btn-primary">Edit</a>
                        <button onclick="remove('<%= e._id %>')" class="btn btn-danger">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            <% }) %>


        </div>
    </div>

    <script>
        const remove = (id) => {
            console.log(id);
            fetch(`http://localhost:9000/admin/delete/${id}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    id
                }),
            }).then(() => window.location.reload());
        };
    </script>
</body>

</html>
